a {
  color: green;
  text-decoration: none;
}

.moodlet {
  --moodlet-colour: black;
  --moodlet-text-colour: white;
  --moodlet-border-colour: red;
  flex: 1;
  margin: 5px;
  padding: 5px;
  justify-content: center; /* Aligns items on the main axis */
  align-items: center; /* Aligns items on the cross axis */
  height: 20px;
  border: 3px;
  border-style: solid;
  border-color: var(--moodlet-border-colour);
  background-color: var(--moodlet-colour);
  color: var(--moodlet-text-colour);
  cursor: pointer;
  opacity: 70%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.moodlet:hover {
  opacity: 100%;
}

.moodlet-fullword {
  width: fit-content;
  border-radius: 20px;
}

.moodlet-not-fullword {
  width: 20px;
  border-radius: 50%;
}
