a {
  color: green;
  text-decoration: none;
}

.moodlet-card {
  flex: 1;
  border-radius: 5px;
  background-color: #a32b2b;
  margin: 10px;
  justify-content: center; /* Aligns items on the main axis */
  align-items: center; /* Aligns items on the cross axis */
  width: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.moodlet-header {
  --moodlet-colour: "black";
  --moodlet-text-colour: "white";
  border-radius: 5px;
  display: flex;
  margin: auto;
  background-color: var(--moodlet-colour);
  color: var(--moodlet-text-colour);
}

.moodlet-header-title-elements {
  display: inline-block;
}

.moodlet-logo {
  padding: 5px;
}

.moodlet-header-title {
  text-align: left;
  display: block;
  font-size: smaller;
  padding: 5px 0 0 5px;
}

.moodlet-header-sub-title {
  text-align: left;
  display: block;
  font-size: larger;
  font-weight: bold;
  padding: 5px 0 0 5px;
}

.moodlet-body {
  display: grid;
  grid-template-columns: auto auto;
  color: green;
}

.moodlet-body-item-l {
  text-align: left;
  padding: 5px;
}

.moodlet-body-item-r {
  text-align: right;
  padding: 5px;
}

.moodlet-palette {
  align-content: end;
}

.moodlet-palette-element {
  --palette-colour: "white";
  --selected-border: "5px";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-color: var(--palette-colour);
  border-style: solid;
  border-color: lightgray;
  border-width: var(--selected-border);
  margin: 0 0 0 5px;
}

.moodlet-palette-element:hover {
  opacity: 55%;
}

.check_box {
  display: none;
}

.check_box_label:hover {
  background: url("./assets/check_box_hover.svg") no-repeat;
  background-position: center;
  background-size: 30px;
  height: 30px;
  width: 30px;
  display: inline-block;
  padding: 0 0 0 0px;
  vertical-align: middle;
}

.check_box + label {
  background: url("./assets/check_box_unchecked.svg") no-repeat;
  background-position: center;
  background-size: 20px;
  height: 30px;
  width: 30px;
  display: inline-block;
  padding: 0 0 0 0px;
  vertical-align: middle;
}

.check_box:checked + label {
  background: url("./assets/check_box_checked.svg") no-repeat;
  background-position: center;
  background-size: 20px;
  height: 30px;
  width: 30px;
  display: inline-block;
  padding: 0 0 0 0px;
  vertical-align: middle;
}

.toggle {
  display: none;
}

.toggle_label:hover {
  background: url("./assets/toggle_hover.svg") no-repeat;
  background-position: center;
  background-size: 40px;
}

.toggle + label {
  background: url("./assets/toggle_off.svg") no-repeat;
  background-position: center;
  background-size: 40px;
  height: 30px;
  width: 40px;
  display: inline-block;
  padding: 0 0 0 0px;
  vertical-align: middle;
}

.toggle:checked + label {
  background: url("./assets/toggle_on.svg") no-repeat;
  background-size: 40px;
  height: 30px;
  width: 40px;
  display: inline-block;
  padding: 0 0 0 0px;
  vertical-align: middle;
}

.moodlet-link-info {
  position: relative;
  display: inline-block;
  vertical-align: super;
  font-size: smaller;
}

.moodlet-link-info .tooltiptext {
  visibility: hidden;
  width: 248px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.3s;
}

.moodlet-link-info:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
